<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body ng-app="fakeJson">
    <div ng-controller="HomeController">
        <div ng-view ></div>
        {{posts}}
        <button>Klik</button>
        <form>
            <input type="number" ng-model="postParams.id">
            <input type="text" ng-model="postParams.title">
            <input type="text" ng-model="postParams.author">
            <button type="submit" ng-click="addPost()">Zapisz</button>
        </form>
    </div>
</body>
</html>